.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
  transition: 0.5s;

}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here. */
  transform: scale(1.2);
  font-weight: bolder;
  font-size: 20ﬁpx;
   box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);

}
